
body{
    background-image:url("/img/2204.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.jumbotron {
   
    background: rgba(142, 161, 187, 0.5); 
    
 }


 .card{
   
    background: rgba(123, 102, 180, 0.5);
    
 }